{% extends 'template/master.html.twig' %}

{% set title = 'CADASTRO' %}

{% block master %}

    <div class="main-container">
        <div class="pd-ltr-20 customscroll customscroll-10-p height-100-p xs-pd-20-10">
            <div class="card-footer card-register mx-auto mt-3">
                <div class="card-header" align="center"><h2>Cadastro de Mesas</h2></div>
                <div class="card-header">
                    <form id="formCreate" method="post">
                        <div class="form-group">
                            <div class="form-label-group">
                                <label for="name" style="color: #91a8b0;">N°</label>
                                <input class="form-control" type="text" id="name" name="name"
                                       placeholder="Digite o número da mesa" required="required">
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <button class="btn-form-btn">
                                <strong>Adicionar</strong>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            board.index();
        });
    </script>

{% endblock %}