{% extends 'template/master.html.twig' %}

{% set title = "INÍCIO" %}

{% block master %}

    <div class="main-container">

        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <!-- As a link -->
                <nav class="navbar bg-dark">
                    <ol class="breadcrumb bg-dark">
                    <li class="breadcrumb-item">
                    <a class="color-default">BEM VINDO</a>
                    </li>
                    <li class="breadcrumb-item active color-default">SISTEMA DE VENDAS</li>
                    </ol>
                </nav>
                <hr>
                <!-- Page Content -->
                <h1 class="color-default">SISTEMA PARA BARES E RESTAURANTES</h1>
                <hr>
                <h5 class="color-default">AQUI VOCÊ REALIZA CADASTRO E VENDAS DE PRODUTOS, PARA CONTROLAR SEU ESTOQUE.</h5>

            </div>
            <!-- /.container-fluid -->

            <div class="sidebar-menu">
                <div class="color-default" style="text-align: center">
                    {#<span>BEM VINDO(A),</span><br>#}
                    {#<span>{{ TwigFunctions('user').name }}</span>#}
                    <img src="/vendors/images/img2.jpg" alt="" class="mobile-logo">
                </div>
            </div>

        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /.main-container -->

{% endblock %}