{% extends 'template/master.html.twig' %}

{% set title = 'Pedidos Fechado' %}

{% block master %}

    <style>
        .center {
            padding-left: 10px;
        }
    </style>

        <div class="main-container">
            <div class="pd-ltr-20 customscroll customscroll-10-p height-100-p xs-pd-20-10">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="title">
                                    <h4>INFORME A DATA DE INÍCIO E DE FIM PARA VER OS PEDIDOS FECHADOS</h4>
                                </div>
                                <nav aria-label="breadcrumb" role="navigation">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a> ----- </a></li>
                                        <li class="breadcrumb-item active" aria-current="page"> ---- </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <form id="form-sell-inactive">
                        <fieldset>
                            <div class="control-group">
                                <div class="controls">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="date">INFORME A DATA DE INÍCIO E DE FIM:</label>
                                            <input type="text" class="form-control date-picker" placeholder="Selecione a Data">
                                        </div>
                                        <button class="btn btn-primary text-white" type="submit" id="btn-consultar">
                                            <i class="fa fa-search" aria-hidden="true"></i> CONSULTAR
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                <div class="container-fluid">
                    <div class="col-md-12"><br>

                        <div class="card-header bg-dark">
                            <h2 class="sell_id" style="margin: auto; text-align: center;">Pedidos das Mesas</h2>
                        </div>

                        <div class="card-body color-default">
                            <div class="table-responsive">
                                <table id="usersActive" class="table table-striped table-dark table-bordered dt-responsive nowrap" width="100%"
                                       cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Mesas</th>
                                        <th width="200px">Data / Hora</th>
                                        <th width="150px">Valor Total</th>
                                        <th width="150px">Adicionar</th>
                                        <th width="10px">Finalizar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>01, 02, 03, 04, 05.</td>
                                        <td>09/02/2019 - 10:00</td>
                                        <td>R$ 85,50</td>
                                        <td>
                                            <button class="btn-info text-white btn-sm">Adicionar</button>
                                        </td>
                                        <td>
                                            <button class="btn-danger text-white btn-sm">Finalizar</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>06, 07, 08.</td>
                                        <td>09/02/2019 - 09:00</td>
                                        <td>R$ 23,50</td>
                                        <td>
                                            <button class="btn-info text-white btn-sm">Adicionar</button>
                                        </td>
                                        <td>
                                            <button class="btn-danger text-white btn-sm">Finalizar</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>09, 12, 13, 17, 20.</td>
                                        <td>09/02/2019 - 09:00</td>
                                        <td>R$ 23,50</td>
                                        <td>
                                            <button class="btn-info text-white btn-sm">Adicionar</button>
                                        </td>
                                        <td>
                                            <button class="btn-danger text-white btn-sm">Finalizar</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>55.</td>
                                        <td>09/02/2019 - 09:00</td>
                                        <td>R$ 23,50</td>
                                        <td>
                                            <button class="btn-info text-white btn-sm">Adicionar</button>
                                        </td>
                                        <td>
                                            <button class="btn-danger text-white btn-sm">Finalizar</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>60, 80.</td>
                                        <td>09/02/2019 - 09:00</td>
                                        <td>R$ 23,50</td>
                                        <td>
                                            <button class="btn-info text-white btn-sm">Adicionar</button>
                                        </td>
                                        <td>
                                            <button class="btn-danger text-white btn-sm">Finalizar</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    <script src="/components/jquery/jquery.min.js"></script>

{% endblock %}