{% extends 'template/master.html.twig' %}

{% set title = 'Pedidos Em Aberto' %}

{% block master %}

<div class="main-container">
    <div class="container-fluid">
        <div class="col-md-12"><br>

            <div class="card-header bg-dark">
                <h2 style="margin: auto; text-align: center;"><b>Pedidos das Mesas</b></h2>
            </div>

            <div class="card-body color-default">
                <div class="table-responsive">
                    <table id="active" class="table table-striped table-dark table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Mesas</th>
                            <th width="150px">Valor Total</th>
                            <th width="150px">Adicionar</th>
                            <th width="100px">Finalizar</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            saleOpen.index();
        });
    </script>

{% endblock %}

