{% extends 'template/master.html.twig' %}

{% set title = 'PEDIDO DA MESA' %}

{% block master %}

    <style>
        .btn-add-height {
            height: 50px;
            font-size: 20px;
        }

        .btn-finish-height {
            height: 36px;
            font-size: 20px;
        }
    </style>

    <div class="main-container">
        <div class="body-style card-footer mx-auto mt-1">
            <div class="card-header">
                <h2 align="center"><b> Pedidos Da Mesa</b></h2>
                <button type="button" class="btn-add btn-add-height fas fa-plus-circle color-black btn-sm"
                        data-toggle="modal" data-target="#createModal">
                    <b> Adicionar Produto</b></button>
            </div>
        </div>

        <div class="container-fluid">
            <div class="col-md-12">

                <div class="card-header bg-dark">
                    <a id="finish" href="#" class="panel_right">
                        <button class="btn-danger btn-finish-height fas fa-check color-black btn-sm"><b> FINALIZAR
                                PEDIDO</b></button>
                    </a>
                    {% if sale %}
                        <h2 class="sale_id">
                            <b id="sale_id" style="color: #d9534f;"></b>
                            <b>VALOR TOTAL:</b> <b id="value_all" style="color: #d9534f"> </b>
                        </h2>
                    {% else %}
                        <h2 class="sale_id">
                            <b>VALOR TOTAL :</b> <b id="value_all" style="color: #d9534f">R$ 0,00 </b>
                        </h2>
                    {% endif %}
                </div>

                <div class="card-body color-default">
                    <div class="table-responsive">
                        <table id="active" class="table table-striped table-dark table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th width="100px">PRODUTO</th>
                                <th width="100px">VL UNIT</th>
                                <th width="100px">QTD</th>
                                <th width="150px">SUB-TOTAL</th>
                                <th width="100px">AÇÃO</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal Create-->
    <div id="createModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabelCreate"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header badge-dark">
                    <div class="card-header" align="center"><h2>Pedidos da Mesa</h2></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body badge-dark">
                    <form class="input_mask" id="formCreate" method="post">
                        <div class="form-group">
                            <div class="form-label-group">
                                <label for="boards"><i class="fa fa-table" aria-hidden="true"></i> Mesa(s)</label>
                                <select class="form-control custom-select2 select2" style="width: 100%"
                                        multiple="multiple" id="boards" name="boards[]" required>

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-label-group">
                                <label for="products"><i class="fa fa-list-ul" aria-hidden="true"></i> Produto</label>
                                <select class="form-control select2 uneditable-input" style="width: 100%" id="products"
                                        name="products" required>

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-label-group">
                                <label for="quantity"><i class="fa fa-question" aria-hidden="true"></i>
                                    Quantidade</label>
                                <input class="form-control" id="quantity" name="quantity" type="number" value="1"
                                       min="1" max="999999" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-label-group">
                                <label for="waiters"><i class="fas fa-user-tie" aria-hidden="true"></i> Garçom</label>
                                <select class="form-control uneditable-input" id="waiters" name="waiters" required>

                                </select>
                            </div>
                        </div>

{#                        {% if sale %}#}
{#                            <input type="hidden" id="sale_id" name="sale" value="{{ sale.id }}"/>#}
{#                        {% else %}#}
                            <input type="hidden" id="sale_id" name="sale"/>
                            <input type="hidden" id="group_id" name="group"/>
{#                        {% endif %}#}

                    </form>
                </div>

                <div class="modal-footer modal-header">
                    <button type="button" class="btn-danger fa fa-close color-black btn-sm" data-dismiss="modal">
                        Fechar
                    </button>
                    <button type="button" class="btn-primary fa fa-edit color-black btn-sm" id="btn-create"> Cadastrar
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            sale.index();
        });
    </script>

{% endblock %}



