{% extends 'template/master.html.twig' %}

{% set title = 'CADASTRO' %}

{% block master %}

    <div class="main-container">
        <div class="pd-ltr-20 customscroll customscroll-10-p height-100-p xs-pd-20-10">
            <div class="body-class card-footer card-register mx-auto mt-3">
                <div class="card-header" align="center"><h2>Cadastro de Produtos</h2></div>
                <div class="card-header">
                    <form id="formCreate" method="post">
                        <div class="form-group">
                            <div class="form-label-group">
                                <label for="name">Nome</label>
                                <input class="form-control" type="text" id="name" name="name"
                                       placeholder="Digite o nome" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-label-group">
                                <label for="description">Descrição</label>
                                <input class="form-control" type="text" id="description" name="description"
                                       placeholder="Digite a Descrição" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-label-group">
                                <label for="price">Preço</label>
                                <input class="form-control money" type="text" id="price" name="price"
                                       placeholder="Digite o preço" required>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <button class="btn-form-btn">
                                <strong>Cadastrar</strong>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
           product.index();
        });
    </script>

{% endblock %}