{% extends 'template/master.html.twig' %}

{% set title = 'PRODUTOS' %}

{% block master %}

    <style>
        .project-tab {
            padding: 10%;
            margin-top: -8%;
        }

        .project-tab #tabs {
            background: #202746;
            color: #91a8b0;
        }

        .project-tab #tabs h6.section-title {
            color: #91a8b0;
        }

        .project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: #91a8b0;
            background-color: transparent;
            border-color: transparent transparent #91a8b0;
            border-bottom: 3px solid !important;
            font-size: 16px;
            font-weight: bold;
        }

        .project-tab .nav-link {
            border: 1px solid transparent;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            color: #91a8b0;
            font-size: 16px;
            font-weight: 600;
        }

        .project-tab .nav-link:hover {
            border: none;
        }

        .project-tab thead {
            background: #91a8b0;
            color: #91a8b0;
        }

        .project-tab a {
            text-decoration: none;
            color: #333;
            font-weight: 600;
        }
    </style>

    <div class="main-container">
        <div class="row">
            <div class="col-md-12">
                <div class="card-header bg-dark">
                    <i class="fas fa-align-justify"></i>
                    Lista de Produtos
                </div>
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="active-tab" data-toggle="tab"
                           href="#ativos"
                           role="tab" aria-controls="ativos" aria-selected="true"><strong>Ativos</strong></a>

                        <a class="nav-item nav-link" id="inactive-tab" data-toggle="tab"
                           href="#inativos"
                           role="tab" aria-controls="inativos" aria-selected="false"><strong>Inativos</strong></a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">

                    <div class="tab-pane fade show active" id="ativos" role="tabpanel"
                         aria-labelledby="active-tab">
                        <div class="card-body color-default">
                            <div class="table-responsive">
                                <table id="active" class="table table-striped table-dark table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Produto</th>
                                        <th>Descrição</th>
                                        <th width="100px">Preço</th>
                                        <th width="100px">Editar</th>
                                        <th width="100px">Desativar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="inativos" role="tabpanel"
                         aria-labelledby="inactive-tab">
                        <div class="card-body color-default">
                            <div class="table-responsive">
                                <table id="inactive" class="table table-striped table-dark table-bordered dt-responsive nowrap" width="100%"
                                       cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Produto</th>
                                        <th width="20px">Ativar</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    
    <!-- Modal Update-->
    <div id="updateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabelUpdate"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header badge-dark">
                    <h5 class="modal-title -align-center" id="ModalLabelUpdate">Atualizar Produto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body badge-dark" id="details_update">
                    <div class="modal-body">
                        <input type="hidden" id="update-id" name="id">
                        <ul class="list-group">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input class="form-control" type="hidden" id="update-id" name="id">

                                    <label for="name">Nome</label>
                                    <input class="form-control" type="text" id="update-name" name="name"
                                           placeholder="Digite o nome" required="required">

                                    <label for="description">Descrição</label>
                                    <input class="form-control" type="text" id="update-description" name="description"
                                           placeholder="Digite a descrição" required="required">

                                    <label for="price">Preço</label>
                                    <input class="form-control money" type="text" id="update-price" name="price"
                                           placeholder="Digite o preço" required="required">
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer modal-header">
                    <button type="button" class="btn-danger fa fa-close color-black btn-sm" data-dismiss="modal"> Fechar</button>
                    <button type="button" class="btn-primary fa fa-edit color-black btn-sm" id="btn-update"> Atualizar</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            product.index();
        });
    </script>
{% endblock %}