<footer class="footer">
    <div class="text-center">
        <a class="txt2" href="#">
            copyright &copy;2018 Ltda. Todos os direitos reservados.
            <i class="fa fa-fire m-l-5" aria-hidden="true"></i>
        </a>
    </div>
</footer>