<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- basic page info -->
    <meta charset="utf-8">
    <title>{% if title is defined %} {{ title }}{% endif %}</title>

    <!-- mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" type="text/css" href="/components/bootstrap/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/styles/style.css">

    <!-- Google Font -->
    <link rel="stylesheet" type="text/css" href="/components/fonts/googleapis/css/googleapis.work.sans.css">
    <link rel="stylesheet" type="text/css" href="/components/fonts/googleapis/css/googleapis.open.sans.css">
    <!-- fontawesome -->
    <link rel="stylesheet" type="text/css" href="/components/fontawesome-free/css/all.min.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="/components/fonts/googleapis/js/googletagmanager.gtag.js"></script>

    <!-- datatables -->
    <link rel="stylesheet" type="text/css" href="/components/datatables/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="/components/datatables/css/dataTables.bootstrap4.min.css">
    <!--#############################################################################################-->
    <link rel="stylesheet" type="text/css" href="/components/toastr/toastr.min.css">
    <!-- favicon do site -->
    <link rel="icon" type="image/png" href="/assets/images/logo.png"/>

</head>

<style>
    .body-style {
        background: #323438 !important;
        margin-top: 2px;
        font-family: 'Work Sans', sans-serif;
        font-size: 15px;
        line-height: 1.5;
        color: #91a8b0;
        text-transform: uppercase !important;
    }

    .color-default {
        color: #91a8b0;
    }

    .color-black {
        color: #000000;
    }

    .product-detail {
        font-family: 'Work Sans', sans-serif;
        font-size: 24px;
        text-align: center;
        width: 104%;
        display: block;
        padding-bottom: 54px;
        color: #91a8b0;
    }

    .form-center {
        align-content: center;
        margin-top: 5px;
    }

    .btn-form-btn {
        font-family: 'Work Sans', sans-serif;
        font-size: 15px;
        line-height: 1.5;
        color: #000000;
        text-transform: uppercase;

        width: 100%;
        height: 50px;
        border-radius: 5px;
        background: #57b846;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;

        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .painel-left {
        margin-left: -25px;
    }

    .btn-form-btn:hover {
        background: #333333;
    }

    .color-default1 {
        background: #2a3f54 !important;
    }

    .logo {
        width: 250px;
        height: 70px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: table;
    }

    .logo a {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        font-size: 22px;
        color: #91a8b0;
        letter-spacing: 0.050em;
        font-weight: 500;
        line-height: 45px;
        font-family: 'Work Sans', sans-serif;
        padding: 0px 20px 0px;
        text-align: center;
    }

    .logo a span {
        display: block;
        vertical-align: middle;
        margin-left: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .logo a img {
        max-width: 200px;
        display: block;
        margin: 0 auto;
    }

    h1 {
        color: #91a8b0;
    }

    h2 {
        color: #91a8b0;
    }

    h3 {
        color: #91a8b0;
    }

    h4 {
        color: #91a8b0;
    }

    h5 {
        color: #91a8b0;
    }

    h6 {
        color: #91a8b0;
    }

    label {
        color: #91a8b0;
        font-size: large;
    }

    p {
        font-size: large;
        color: #91a8b0 !important;
    }

    td {
        color: #91a8b0;
    }

    .dataTable tr {
        color: #91a8b0 !important;
    }

    .table-condensed tr {
        font-size: large !important;
        color: #91a8b0 !important;
    }

    .page-link {
        color: #0c0c0c !important;
    }

    .dataTables_info  {
        color: #91a8b0 !important;
    }

    .dataTables_wrapper {
        color: #91a8b0;
    }

    .dataTables_paginate {
        color: #91a8b0;
    }

    .toast-message {
        font-size: large;
        color: #ffffff !important;
    }

    .error {
        color: #ef2323 !important;
    }

    /* muda a cor da linha da tabela */
    .even {
        background: inherit !important;
    }

    ul li .active a {
        color: #91a8b0;
    }

    ul li a {
        color: #91a8b0;
    }

    select option.selected {
        font-weight: bold;
        color: red;
    }

    h2 small {
        color: #91a8b0;
    }

    .modal-body {
        font-size: large;
        background-color: #15202a;
    }

    .modal-header {
        background-color: #15202a;
    }

    /*.dropdown {*/
    /*display: none;*/
    /*}*/

    .panel_toolbox > li > a {
        padding: 5px;
        color: #91a8b0;
        font-size: 14px;
        /* margin-right: -44px; */
        margin-left: 47px;
    }

    .panel_right {
        font-family: 'Work Sans', sans-serif;
        margin-top: 6px;
        background-color: #d9534f;
        float: right;
        min-width: 70px
    }

    .x_panel {
        background-color: #2a3f54;
    }

    .nav-md ul.nav.child_menu li:before {
        background: #91a8b0 !important;
    }

    .icon-person {
        color: #91a8b0 !important;
    }

    .way {
        margin-bottom: 5px;
        height: 56px;
        color: #91a8b0 !important;
    }

    #hide-way {
        cursor: pointer;
        color: #91a8b0 !important;
    }

    .dtr-title {
        color: #91a8b0;
    }

    .site_title {
        font-weight: 400;
        font-size: 22px;
        color: #91a8b0 !important;
        width: 100%;
        line-height: 34px;
        display: inline-table;
        height: 55px;
        margin: 0;
        padding-left: 10px;
    }

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu a::after {
        transform: rotate(0deg);
    }

    .dropdown-submenu .dropdown-menu {
        left: 100%;
        margin-left: .1rem;
        margin-right: .1rem;
    }

    .dropdown-menu .dropdown-menu {
        top: 0;
        left: 100%;
    }

    .select2-container--default .select2-search--dropdown .select2-search__field
    select, option, textarea, button,
    input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
    .uneditable-input {
        text-transform: uppercase !important;
    }

</style>

<body class="body-style">
<div class="pre-loader"></div>

{% include 'template/navbar.html.twig' %}

<div class="body-style left-side-bar">
    <div class="brand-logo">
        <a href="/">
            <!-- <img src="/assets/images/logotipo.png" alt="">-->
            <div class="color-default">
                <i class="fas fa-glass-martini-alt"></i>
                <i class="fas fa-utensils"></i><br>
            </div>
        </a>
    </div>

    <div class="menu-block customscroll">
        <div class="sidebar-menu">

            <div class="color-default" style="text-align: center">
                {#<span>BEM VINDO(A),</span><br>#}
                {#<span>{{ TwigFunctions('user').name }}</span>#}
                <img src="/assets/images/logo.png" alt="" class="mobile-logo">
            </div>
            <br><br>

            <ul id="accordion-menu">
                <hr>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="fa fa-home"></span><span class="mtext">Cadastro</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/mesa/cadastro">Mesas</a></li>
                        <li><a href="/produto/cadastro">Produtos</a></li>
                        <li><a href="/funcionario/cadastro">Funcionários</a></li>
                    </ul>
                </li>
                <hr>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="fa fa-address-card"></span><span class="mtext">Gestão</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/usuario/cadastro">Cadastrar Usuários</a></li>
                        <li><a href="/cliente/cadastro">Cadastrar Clientes</a></li>
                    </ul>
                </li>
                <hr>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="fa fa-clone"></span><span class="mtext">Detalhes</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/usuarios">Usuários</a></li>
                        <li><a href="/mesas">Mesas</a></li>
                        <li><a href="/produtos">Produtos</a></li>
                        <li><a href="/funcionarios">Funcionários</a></li>
                    </ul>
                </li>
                <hr>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="fa fa-cart-plus"></span><span class="mtext">Pedidos</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/venda/caixa">Caixa</a></li>
                        <li><a href="/pedidos">Cadastrar Pedidos</a></li>
                        <li><a href="/pedidos/aberto">Pedidos em Aberto - <span class="" id="quantity_sale_active">0</span></a></li>
                        <li><a href="/pedidos/fechado">Pedidos Encerrados</a></li>
                    </ul>
                </li>
                <hr>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="fa fa-list"></span><span class="mtext">Multi Level Menu</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="javascript:;">Level 1</a></li>
                        <li><a href="javascript:;">Level 1</a></li>
                        <li><a href="javascript:;">Level 1</a></li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle">
                                <span class="fa fa-plug"></span><span class="mtext">Level 2</span>
                            </a>
                            <ul class="submenu child">
                                <li><a href="javascript:;">Level 2</a></li>
                                <li><a href="javascript:;">Level 2</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:;">Level 1</a></li>
                        <li><a href="javascript:;">Level 1</a></li>
                        <li><a href="javascript:;">Level 1</a></li>
                    </ul>
                </li>
                <hr>
            </ul>
        </div>
    </div>
</div>
{% block master %}{% endblock %}
{#<div class="footer-wrap pd-10 mb-10 border-radius-5 box-shadow">#}
{#<i style="color: #91a8b0">copyright &copy;2018. Todos os direitos reservados.</i>#}
{#<i style="color: #91a8b0" class="fab fa-gripfire m-l-5" aria-hidden="true"></i> <a target="_blank">Adriano Ribeiro</a>#}
{#</div>#}
<!-- js -->
<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/components/jquery/jquery.mousewheel.min..js"></script>
<script type="text/javascript" src="/components/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/scripts/script.js"></script>
<script type="text/javascript" src="/components/moment/moment.min.js"></script>
<script type="text/javascript" src="/components/moment/locale/pt-br.js"></script
<script type="text/javascript" src="/components/jquery-validation/dist/localization/messages_pt_BR.min.js"></script>
<script type="text/javascript" src="/components/jquery/dist/jquery.maskMoney.min.js"></script>
<script type="text/javascript" src="/components/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="/components/jquery-validation/dist/additional-methods.min.js"></script>
<script type="text/javascript" src="/components/jquery-validation/dist/validationTranslate.js"></script>
<script type="text/javascript" src="/assets/build/js/custom.min.js"></script>
<!--============================================================================================-->
<script type="text/javascript" src="/assets/js/translate_validation.js"></script>

{# Datatables #}
<script type="text/javascript" src="/components/datatables/datatables.min.js"></script>
<script type="text/javascript" src="/components/datatables/js/dataTables.bootstrap4.min.js"></script>

<!--===============================================================================================-->
<script type="text/javascript" src="/components/select2/dist/js/i18n/pt-BR.js"></script>
<script type="text/javascript" src="/components/select2/dist/js/select2.min.js"></script>
<script type="text/javascript" src="/components/toastr/toastr.min.js"></script>>
<!--============================================================================================-->
<script type="text/javascript" src="/assets/js/custom/uri.js"></script>
<script type="text/javascript" src="/assets/js/custom/tool.js"></script>
<script type="text/javascript" src="/assets/js/custom/board.js"></script>
<script type="text/javascript" src="/assets/js/custom/product.js"></script>
<script type="text/javascript" src="/assets/js/custom/employee.js"></script>
<script type="text/javascript" src="/assets/js/custom/sale.js"></script>
<script type="text/javascript" src="/assets/js/custom/saleOpen.js"></script>
</body>

<script>
    $(document).ready(function () {
        $(".select2").select2();
         tool.money();
         sale.loadProductsActive();
        // sell.countSellActive();
        // way.index();
        // template.template();
    });
</script>

</html>
