<div class="header clearfix">
    <div class="header-right">
        <div class="brand-logo">
            <a href="index.php">
                <img src="/vendors/images/logo.png" alt="" class="mobile-logo">
            </a>
        </div>
        <div class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="user-info-dropdown">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <span class="user-icon"><i class="fas fa-user-alt"></i></span>
                    <span class="user-name">{{ TwigFunctions('user').name }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right color-default1">
                    <a class="dropdown-item" href=""><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Sair</a>
                </div>
            </div>
        </div>
    </div>
</div>