{% extends 'template/master.html.twig' %}

{% set title = 'CADASTRO' %}

{% block master %}

    <div class="main-container">
        <div class="pd-ltr-20 customscroll customscroll-10-p height-100-p xs-pd-20-10">
            <div class="card-footer card-register mx-auto mt-3">
                <div class="card-header" align="center"><h2>Cadastro de Funcionários</h2></div>
                <div class="card-header">
                    <form id="formCreate" method="post">
                        <div class="form-group">
                            <div class="form-label-group">
                                <label for="name">Nome</label>
                                <input class="form-control" type="text" id="name" name="name"
                                       placeholder="Digite o nome" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-label-group">
                                <label for="function_id">Função</label>
                                <select class="form-control uneditable-input" id="function_id" name="function_id" required>

                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn-form-btn">
                                <strong>Adicionar</strong>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            employee.index();
        });
    </script>

{% endblock %}

