{% extends 'template/master.html.twig' %}

{% set title = 'CADASTRO' %}

{% block master %}

    <div class="container">
        <div class="body-class card-footer card-register mx-auto mt-3">
            <div class="card-header" align="center"><h2>Cadastro de mesas</h2></div>
            <div class="card-header">
                <form>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input class="form-control" type="text" id="name" name="name"
                                   placeholder="Digite o nome do usuário" required="required">
                            <label for="name"><i class="fa fa-user-tie" aria-hidden="true"></i> Nome</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn-form-btn">
                            <strong>Adicionar</strong>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <script src="/components/jquery/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            user.index();
            // $('#user_create').submit(function () {
            //     user.register();
            //     return false;
            // });
        });
    </script>

{% endblock %}