<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/components/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/components/toastr/toastr.min.css">
    <!--===============================================================================================-->
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" href="/components/fontawesome-free/css/all.min.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/assets/images/img2.jpg"/>
    <!--===============================================================================================-->
    <title>{% if title is defined %} {{ title }}{% endif %}</title>
</head>
<style>
    body {
        background: #2a3f54 !important;
        margin-top: 2px;
        font-family: "Times New Roman", Times, serif;
        font-size: 15px;
        line-height: 1.5;
        color: white;
        text-transform: uppercase !important;
    }
</style>
<body>
<div class="container">
    {% block layout %}{% endblock %}
    <br>
    <div class="text-center"><br><br>
        <a class="txt2" href="#">
            copyright &copy;2018. Todos os direitos reservados.
            <i class="fab fa-gripfire m-l-5" aria-hidden="true"></i>
        </a>
    </div>
</div>
<!--===============================================================================================-->
<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="/components/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/components/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/components/datatables/js/dataTables.bootstrap4.min.js"></script>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/components/fontawesome-free/js/all.min.js">
<script type="text/javascript" src="/components/toastr/toastr.min.js"></script>
<!--===============================================================================================-->
{#<script type="text/javascript" src="/components/js/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>#}
{#<script type="text/javascript" src="/components/js/jquery-validation-1.17.0/dist/additional-methods.min.js"></script>#}
<script type="text/javascript" src="/assets/js/jquery.my-custom.js"></script>
{#<script type="text/javascript" src="/components/js/user/uri.js"></script>#}
{#<script type="text/javascript" src="/components/js/user/user.js"></script>#}
<script type="text/javascript" src="/assets/js/main.js"></script>
<!--===============================================================================================-->

</body>
</html>