{% extends 'template/master.html.twig' %}

{% set title = 'CADASTRO' %}

{% block master %}

    <div class="main-container">
        <div class="pd-ltr-20 customscroll customscroll-10-p height-100-p xs-pd-20-10">
                <div class="card-footer card-register mx-auto mt-3">
                    <div class="card-header" align="center"><h2>Cadastro de Usuários</h2></div>
                    <div class="card-header">
                        <form id="user_create" method="post">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <label for="name">Nome</label>
                                    <input class="form-control" type="text" id="name" name="name"
                                           placeholder="Digite o nome" required="required">
                                </div>
                            </div>
                           
                            <div class="form-group">
                                <div class="form-label-group">
                                    <label for="name">Email</label>
                                    <input class="form-control" type="email" id="email" name="email" placeholder="Digite o email"
                                           required>
                                </div>
                            </div>
                           
                            <div class="form-group">
                                <div class="form-label-group">
                                    <label for="password">Senha</label>
                                    <input class="form-control" type="password" id="password" name="password"
                                           placeholder="digite a senha" required>
                                </div>
                            </div>
                           
                            <div class="form-group">
                                <div class="form-label-group">
                                    <label for="function_id">Função</label>
                                    <select class="form-control uneditable-input" id="function_id" name="function_id" required>
                                        <option value="" selected="">Função</option>
                                        <option value="2">Caixa</option>
                                        <option value="3">Garçom</option>
                                        <option value="4">Cozinheira</option>

                                    </select>
                                </div>
                            </div>
                           <br>
                            <div class="form-group">
                                <button class="btn-form-btn">
                                    <strong>Adicionar</strong>
                                </button>
                            </div>
                        </form>
                    </div>

                    {#<div class="container-login100-form-btn">#}
                    {#<div class="text-center"><br><br>#}
                    {#<a class="txt2" href="/login">#}
                    {#Já tem conta? Faça o login#}
                    {#<i class="fas fa-long-arrow-alt-right" aria-hidden="true"></i>#}
                    {#</a>#}
                    {#</div>#}
                    {#</div>#}
                </div>
        </div>
    </div>


    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            user.index();
            // $('#user_create').submit(function () {
            //     user.register();
            //     return false;
            // });
        });
    </script>

{% endblock %}

