{% extends 'template/master.html.twig' %}

{% set title = 'USUÁRIOS' %}

{% block master %}

    <style>
        .project-tab {
            padding: 10%;
            margin-top: -8%;
        }

        .project-tab #tabs {
            background: #202746;
            color: #91a8b0;
        }

        .project-tab #tabs h6.section-title {
            color: #91a8b0;
        }

        .project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: #91a8b0;
            background-color: transparent;
            border-color: transparent transparent #91a8b0;
            border-bottom: 3px solid !important;
            font-size: 16px;
            font-weight: bold;
        }

        .project-tab .nav-link {
            border: 1px solid transparent;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            color: #91a8b0;
            font-size: 16px;
            font-weight: 600;
        }

        .project-tab .nav-link:hover {
            border: none;
        }

        .project-tab thead {
            background: #91a8b0;
            color: #91a8b0;
        }

        .project-tab a {
            text-decoration: none;
            color: #333;
            font-weight: 600;
        }
    </style>

    <div class="main-container">
        <div class="row">
            <div class="col-md-12">
                <div class="card-header bg-dark">
                    <i class="fas fa-align-justify"></i>
                    Lista de Usuários
                </div>
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="product-active-tab" data-toggle="tab"
                           href="#ativos"
                           role="tab" aria-controls="ativos" aria-selected="true"><strong>Ativos</strong></a>

                        <a class="nav-item nav-link" id="product-inactive-tab" data-toggle="tab"
                           href="#inativos"
                           role="tab" aria-controls="inativos" aria-selected="false"><strong>Inativos</strong></a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">

                    <div class="tab-pane fade show active" id="ativos" role="tabpanel"
                         aria-labelledby="product-active-tab">
                        <div class="card-body color-default">
                            <div class="table-responsive">
                                <table id="usersActive" class="table table-striped table-dark table-bordered dt-responsive nowrap" width="100%"
                                       cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Função</th>
                                        <th width="100px">Detalhes</th>
                                        <th width="100px">Editar</th>
                                        <th width="100px">Desativar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Adriano</td>
                                        <td>Garçom</td>
                                        <td>
                                            <button class="btn-info text-white btn-sm">Detalhes</button>
                                        </td>
                                        <td>
                                            <button class="btn-warning text-white btn-sm">Editar</button>
                                        </td>
                                        <td>
                                            <button class="btn-danger text-white btn-sm">Desativar</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Paulin</td>
                                        <td>Caixa</td>
                                        <td>
                                            <button class="btn-info text-white btn-sm">Detalhes</button>
                                        </td>
                                        <td>
                                            <button class="btn-warning text-white btn-sm">Editar</button>
                                        </td>
                                        <td>
                                            <button class="btn-danger text-white btn-sm">Desativar</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Júnior</td>
                                        <td>Garçom</td>
                                        <td>
                                            <button class="btn-info text-white btn-sm">Detalhes</button>
                                        </td>
                                        <td>
                                            <button class="btn-warning text-white btn-sm">Editar</button>
                                        </td>
                                        <td>
                                            <button class="btn-danger text-white btn-sm">Desativar</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="inativos" role="tabpanel"
                         aria-labelledby="product-inactive-tab">
                        <div class="card-body color-default">
                            <div class="table-responsive">
                                <table id="usersActive" class="table table-striped table-dark table-bordered dt-responsive nowrap" width="100%"
                                       cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Função</th>
                                        <th width="100px">Ativar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Adriano</td>
                                        <td>Garçom</td>
                                        <td>
                                            <button class="btn-success text-white btn-sm">Ativar</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}