{% extends 'template/master.html.twig' %}

{% set title = 'CAIXA' %}

{% block master %}

    <div class="main-container">
        <div class="body-class card-footer card-register mx-auto mt-3">
            <div class="card-header" align="center"><h2>Caixa</h2></div>
            <div class="card-header">
                <form id="box" method="post">
                    <input type="hidden" id="board_id" name="board_id" value="1">

                    <div class="form-group">
                        <label for="products"><i class="fa fa-list-ul" aria-hidden="true"></i> Produto</label>
                        <select class="custom-select form-control uneditable-input" id="products" name="products" required>

                        </select>
                    </div>

                    <div class="form-group">
                            <label for="count_item"><i class="fa fa-question" aria-hidden="true"></i> Quantidade</label>
                            <input class="form-control" id="count_item" name="count_item" type="number" value="1" min="1" required/>
                    </div>

                    <input type="hidden" id="user_id" name="user_id" value="1">
                    <br>
                    <div class="form-group">
                        <button class="btn-form-btn">
                            <strong>Adicionar</strong>
                        </button>
                    </div>
                </form>
            </div>
        </div>


        <div class="container-fluid">
            <div class="col-md-12">

                <div class="card-header bg-dark">
                    <button id="finish" class="panel_right btn-danger text-white btn-sm"><strong>Finalizar Pedido</strong></button>
                    <h2 class="sell_id"><strong>VALOR TOTAL: </strong><b id="value_total" style="color: #d9534f">R$ 0,00 </b>
                    </h2>
                </div>

                <div class="card-body color-default">
                    <div class="table-responsive">
                        <table id="usersActive" class="table table-striped table-dark table-bordered dt-responsive nowrap" width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th>PRODUTO</th>
                                <th width="200px">VR UNIT</th>
                                <th width="150px">QTD</th>
                                <th width="150px">SUB-TOTAL</th>
                                <th width="10px">AÇÃO</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- js -->
    <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            user.index();
        });
    </script>

{% endblock %}

